/.vs
/obj
/Release
/Debug
/bin

/Unity/.vs
/Unity/Temp
/Unity/Library
/Unity/obj
/Unity/ProjectSettings
/Unity/Assets/Plugins/Git
/Unity/*.sln
/Unity/*.csproj
/Unity*.userprefs
*unity

*.txt
*.meta
*.psd
*.png
*.zip
*.rar
*.exe
*.pfx
