/.vs
/obj
/Release
/Debug
/Unity/.vs
/Unity/Temp
/Unity/Library
/Unity/obj
/Unity/ProjectSettings
/Unity/Assets/Plugins/Git

*.txt
*.meta
*.psd
*.png
*.zip
*.rar
*.exe
*unity
/Unity/*.sln
/Unity/*.csproj
/Unity*.userprefs
